
html{
scroll-behavior:smooth;
}

body {
    background-color: #f2f2f2; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 20px;
}

.info{
display: flex;
align-items: flex-start;
gap: 80px;
max-width: 900px;
}

.text{
max-width: 600px;
}

.bild img {
width: 200px;
height: 250px;
display: block;
border-radius:10px;
transition:0.3s;
}

.bild img:hover{
transform:scale(1.05);
}

h3 {
margin-top: 30px;
margin-bottom: 15px;
background:#d0e1f9;
padding:10px;
border-radius:8px;
}

p {
margin-top: 10px;
margin-bottom: 15px;
}

table {
border-collapse: collapse;
width: 100%;
max-width: 650px;
margin-top: 15px;
}

th {
background-color: #d0e1f9; 
color: #000;
padding: 10px;
text-align: left;
border: 1px solid #999;
}

td {
background-color: #fff9e6; 
padding: 10px;
border: 1px solid #999;
}

ol a{
text-decoration:none;
color:black;
font-weight:bold;
}

ol a:hover{
color:#005293;
}

video{
border-radius:15px;
box-shadow:0 4px 15px rgba(0,0,0,0.3);
}

.funfacts-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 15px;
margin-top: 20px;
}

.funfact-box {
background-color: #666;
color: #fff;
padding: 15px;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0,0,0,0.15);
transition: transform 0.3s, background-color 0.3s;
font-weight: bold;
}

.funfact-box{
transition:0.3s;
}

.funfact-box:hover{
transform:scale(1.05);
}

.funfact-box:hover {
transform: translateY(-5px);
background-color: #888;
}

.funfact-emoji {
font-size: 1.5em;
margin-right: 8px;
}

.essen-gallery {
display: flex;
gap: 15px;
overflow-x: auto;
padding: 10px 0;
}

.essen-gallery img {
height: 150px;
border-radius: 10px;
transition: transform 0.3s;
}

.essen-gallery img:hover {
transform: scale(1.1);
}

#topBtn{
  position: fixed;      
  bottom: 20px;         
  right: 20px;          
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #0061d7;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
#topBtn:hover{
  background-color: #005a9e;
}